.NonUserNavBar{
    display: flex;
    justify-content: space-around;
}

.NavBarList {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid;
    text-decoration: none;
}

.NavBarList a {
    text-decoration: none;
    color: black;
}