.outside{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    background-color: rgba(153, 156, 157, 0.148);
}
.container {
    width: 100%;
    background-color: white;
}

.container2 {
    border: solid 2px;
    border-radius: 25px;
    padding: 5px;
    background-color: white;

}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid 2px;
}

.accounts{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    background-color: white;
    margin-bottom: 15px;
    margin-top: 10px;
}


.accountSingle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid  2px lightgray;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    background-color: aliceblue;

}

.accountActions {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accountActions form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    border: solid  2px lightgray;
    background-color: aliceblue;
    padding: 10px;
}

.accountActions label{
    margin-right: 5px;
    margin-left: 10px;
}

.transfersDiv {
    display: flex;
    flex-direction: column;
}

.transfersDiv select{
    margin-bottom: 10px;
}

.openAccountDiv {
    text-align: center;
    border: solid  2px lightgray;
    padding: 10px;
    background-color: aliceblue;
}

.openAccountDiv select {
    margin-right: 5px;
}

.openAccountDiv label {
    margin-right: 5px;
}

.bankAccountHeader {
    text-align: center;
    margin-bottom: 10px;
}

.logoutBTN {
    margin-top: 10px;
    width: 15%;
    border-radius: 25px;
    border: solid black 1px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.logoutBTN:hover {
    background: rgba(255, 0, 0, 0.8);
    color: white;
    transition: 0.3s;
}

.closeAccountBTN {
    margin-top: 10px;
    border-radius: 25px;
    border: solid black 1px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.closeAccountBTN:hover {
    background: rgba(255, 0, 0, 0.8);
    color: white;
    transition: 0.3s;
}

.accountActionsBTN {
    margin-top: 10px;
    border-radius: 25px;
    border: solid black 1px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.accountActionsBTN:hover{
    background: rgba(255, 0, 0, 0.8);
    color: white;
    transition: 0.3s;
}

.container input {
    width: 65px;
    margin-right: 20px;
}

.accountActionsH2{
    text-align: center;
    margin-bottom: 10px;
}

.error {
    text-align: center;
    color: red;
}

.negativeBalance{
    color: red;
}


@media only screen and (max-width:640px){
    .outside {
        height: 1400px;
    }
    .container2 {
        width: 93%;
        height: 80%;
    }


    .container2 h1 {
        font-size: 30px;
    }

    .logoutBTN, .closeAccountBTN, .accountActionsBTN {
        font-size: 12px;
    }

    .accountActions form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
        border: solid  2px lightgray;
        background-color: aliceblue;
        padding: 10px;
    }
    
    .accountActions label{
        margin-right:3px;
        margin-left: 0px;
    }

    .accountActions h3 {
        font-size: 17px;
    }

    .openAccountDiv select {
        margin-right: 0px;
    }
    
    .openAccountDiv label {
        margin-right: 0px;
    }
}